@charset "utf-8";
/*------------------------------------------------------------
	conditions
------------------------------------------------------------*/
.mainImg {
    margin-bottom: 6.2rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table th,
table td {
    padding: 38px 0 15px;
    color: #505050;
    font-size: 1.9rem;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #505050;
}
table th {
    padding-top: 30px;
    width: 18%;
    color: #84c600;
    font-size: 2.3rem;
    font-weight: bold;
}
#main {
    padding-bottom: 100px;
}
ul.f_2way li {
    width: 31.3333%;
}
.comLinkList {
    border-bottom: 2px solid #84c600;
}
.comLinkList li a {
    color: #84c600;
    border: 1px solid #84c600;
	border-bottom: none;
}
.comLinkList li.on a {
    background-color: #84c600;
}
.comLinkList li a::after {
    background: url(../img/common/icon01.png) no-repeat center center;
	background-size: cover;
}
.comLinkList li.on a::after {
    background-image: url("../../../graduates/sougou/img/common/icon03.png");
}
@media all and (min-width: 751px) {
    .comLinkList li a:hover {
        background-color: #84c600;
    }
}
@media all and (max-width: 750px) {
    .comLinkList li a {
        border: 1px solid #84c600;
    }
}
@media (max-width: 750px) {
    .mainImg h2 img {
        height: 2.5rem;
    }
    .mainImg {
        margin-bottom: 1rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table th,
    table td {
        padding: 22px 0 15px;
        color: #505050;
        font-size: 1.4rem;
        text-align: left;
        vertical-align: top;
        line-height: 2;
        border-bottom: 1px solid #505050;
    }
    table th {
        padding-top: 22px;
        width: 22%;
        color: #84c600;
        font-size: 1.5rem;
    }
    #main {
        padding-bottom: 50px;
    }
ul.f_2way li {
    width: 100%;
}
.comLinkList {
	border-bottom: none;
}
.comLinkList li.on a::after {
	background-image: url(../../sougou/img/common/sp_icon02.png);
}
.comLinkList li a::after {
	background-image: url(../img/common/sp_icon01.png);
}
}
@media (max-width: 350px) {
    table th {
        width: 25%;
    }
}