@charset "utf-8";
/*------------------------------------------------------------
	recruit
------------------------------------------------------------*/
.mainImg {
    margin-bottom: 7.9rem;
}
#main .content {
    width: 61rem;
}
.linkUl {
    margin: 0 21px 53px 0;
    justify-content: space-between;
}
.linkUl li {
    margin: 0 0 3.8rem 0;
    width: 26rem;
}
.linkUl li a {
    padding: 0.7rem 1rem 0.5rem;
    font-size: 2.2rem;
    height: 6.1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #003399;
    text-align: center;
    line-height: 1.2;
    border: 1px solid #003399;
    box-sizing: border-box;
    font-family: "游明朝","YuMincho","Hiragino Mincho Pro","MS PMincho","ＭＳ Ｐ明朝","ヒラギノ明朝 Pro W6",serif;
}
.linkUl li a .sml {
    font-size: 1.8rem;
}
.linkUl li a::after {
    position: absolute;
    bottom: 0.9rem;
    right: -2.7rem;
    width: 5.2rem;
    height: 0.7rem;
    background: url(../img/common/icon06.png) no-repeat right top / 100% auto;
    content: '';
}
.linkUl li:nth-child(3n) {
    margin-right: 0;
}
#main h3 {
    margin-bottom: 38px;
    color: #003399;
    font-size: 3.4rem;
    text-align: center;
    font-weight: normal;
}
@media (max-width: 750px) {
    .mainImg h2 img {
        height: 2.5rem;
    }
    .mainImg {
        margin-bottom: 4rem;
    }
    #main .content {
        width: auto;
    }
    .linkUl {
        margin-top: -2.4rem;
        margin-right: 0;
        margin-bottom: 4.5rem;
        padding-right: 1.8rem;
        justify-content: space-between;
    }
    .linkUl li {
        margin: 2.4rem 0 0 0;
        width: 46%;
    }
    .linkUl li a {
        padding: 0.7rem 0 0.5rem;
        font-size: 1.4rem;
        height: 4.6rem;
        line-height: 1.3;
    }
    .linkUl li a span {
        font-size: 1.3rem;
    }
    .linkUl li a .sml {
        font-size: 1.2rem;
    }
    .linkUl li a::after {
        bottom: 1px;
        right: -1.9rem;
        width: 3.6rem;
        height: 0.7rem;
    }
    #main h3 {
        margin-bottom: 18px;
        font-size: 2.2rem;
    }
}