@charset "utf-8";
/*------------------------------------------------------------
	デフォルトスタイル
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;
	font-size: 1em;
}
html {
	font-size: 62.5%;
}
body, table, input, textarea, select, option {
	font-family: "游ゴシック","Yu Gothic","游ゴシック体","YuGothic","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo UI","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
img {
	vertical-align: top;
	max-width: 100%;
    height: auto;
}
a,
a:link {
	color: #505050;
	text-decoration: none;
}
a:visited {
	color: #505050;
}
a:hover {
	color: #505050;
    opacity: 0.7;
}
a:active {
	color: #505050;
}
/*------------------------------------------------------------
	レイアウト
------------------------------------------------------------*/
body {
	min-width: 128rem;
	color: #505050;
	font-size: 1.6rem;
	line-height: 1.5;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	background-color: #f5f5f7;
}
body.fixed {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
#container {
	text-align: left;
    padding-top: 51px;
	overflow: hidden;
}
a[href^="tel:"] {
	cursor: default;
	pointer-events: none;
}
@media all and (min-width: 751px) {
	.sp {
		display: none !important;
	}
}
@media all and (max-width: 750px) {
	body {
		min-width: inherit;
		font-size: 1.4rem;
	}
	a:hover,
	a:hover img {
		opacity: 1 !important;
	}
	.pc {
		display: none !important;
	}
	a[href^="tel:"] {
		cursor: pointer;
		pointer-events: auto;
	}
    #container {
        padding-top: 50px;
    }
}
/*------------------------------------------------------------
	ヘッダー
------------------------------------------------------------*/
#gHeader {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FFF;
    z-index: 100;
}
#gHeader .hBox {
    margin: 0 auto;
    max-width: 112rem;
    align-items: center;
}
#gHeader h1 {
    width: 27rem;
}
#gHeader.header03 h1 {
    width: 35rem;
}
#gHeader.header03 .rBox {
    width: 75rem;
}
#gHeader h1 a:hover {
    opacity: 1;
}
#gHeader .rBox {
    width: 83rem;
    align-items: center;
}
#gNavi li {
    margin-right: 1rem;
}
#gNavi li:last-of-type {
    margin-right: 0;
}
#gNavi li a {
    font-size: 1.1rem;
    font-weight: bold;
}
#gHeader .linkList {
    width: 19rem;
}
#gHeader .linkList li {
    width: 50%;
    box-sizing: border-box;
}
#gHeader .linkList li:first-of-type {
    border-right: 1px solid #FFF;
}
#gHeader .linkList li a {
    padding: 1.5rem 0;
    display: block;
    color: #FFF;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    background-color: #1459b4;
}
#gHeader .linkList li:last-of-type a {
    background-color: #003398;
}
#gHeader.header02 {
    padding: 13px 0;
}
#gHeader.header02 .rBox {
    width: 64rem;
}
#gHeader.header02 #gNavi li {
    margin-right: 2.2rem;
}
#gHeader.header02 #gNavi li:last-of-type {
    margin-right: 0;
}
#gHeader.header02 #gNavi ul {
	justify-content: flex-end;
}
#gHeader.header03 h1 img {
	vertical-align: middle;
}
#gHeader.header03 .rBox {
	display: flex;
	justify-content: flex-end;
}
#gHeader.header03 .linkList {
	margin-left: 40px;
}
#gHeader.header03 .linkList li a {
	background-color: #009665;
}
#gHeader.header03 .linkList li:last-of-type a {
	background-color: #84c600;
}
@media all and (min-width: 1121px) {
    #gHeader.header02 #gNavi {
		width: 100%;
    }
}
@media all and (min-width: 1121px) {
    #gNavi {
        display: block !important;
    }
}
@media all and (max-width: 750px) {
    #gHeader .hBox {
        margin: 0 10px;
        max-width: inherit;
    }
    #gHeader h1 {
        margin: 6px 0 0 15px;
        width: auto;
    }
	#gHeader.header03 .hBox {
		margin: 0 7px;
	}
	#gHeader.header03 h1 {
		margin-left: 0;
		width: auto;
	}
    #gHeader h1 img {
        width: auto;
        height: 40px;
    }
	#gHeader.header02 h1 img {
		height: 33px;
	}
    #gHeader .rBox,
	#gHeader.header03 .rBox {
        width: 170px;
    }
    #gNavi {
        display: none;
    }
    #gHeader .linkList {
        width: 120px;
    }
    #gHeader .linkList li a {
        padding: 18px 0;
        font-size: 0.9rem;
    }
    #gHeader .menu {
        width: 50px;
        text-align: center;
    }
    #gHeader .menu img {
        width: 23px;
    }
}
@media all and (max-width: 1120px) {
    #container {
        padding-top: 51px;
    }
    #gHeader {
        width: 100vw;
        min-width: 112rem;
        position: fixed;
        left: 0;
        top: 0;
    }
    #gHeader .hBox {
        margin: 0 auto;
        width: 83%;
    }
    #gHeader .menu {
        width: 50px;
        display: block !important;
        text-align: center;
    }
    #gHeader .menu a,
    #gHeader .menu a img{
        display: block;
    }
    #gHeader .menu img {
        margin: 0 auto;
        width: 22px;
    }
    #gHeader .menu.on a img {
        opacity: 0;
        visibility: hidden;
    }
    #gHeader .menu.on a {
        background: url("../../img/common/close.png") no-repeat center center;
        background-size: 1.75rem auto;
    }
    #gHeader .rBox,
	#gHeader.header03 .rBox {
        width: auto;
    }
    #gNavi {
        padding-bottom: 50px;
        width: 100%;
        height: calc(100vh - 50px);
        overflow-y: auto;
        display: flex;
        display: none;
        align-items: center;
        position: absolute;
        left: 0;
        top: 50px;
        box-sizing: border-box;
        background-color: #f5f5f7;
    }
    #gNavi.on {
        display: flex;
    }
    #gNavi ul {
        margin: 0 auto;
        width: 83%;
        justify-content: space-between;
    }
    #gNavi li {
        margin: 3rem 0 0;
        width: 49%;
    }
    #gNavi li a {
        padding: 0 3rem 0.3rem;
        display: block;
        font-size: 1.75rem;
        border-bottom: 1px solid #003398;
        background: url("../../img/common/icon01.png") no-repeat center right 2rem;
        background-size: 1.15rem auto;
    }
	#gHeader.header03 #gNavi li a {
		border-color: #84c600;
		background-image: url("../../img/common/icon08.png");
	}
    #gHeader.header02 {
        padding: 11px 0;
    }
    #gHeader.header02 .rBox {
        width: auto;
    }
    #gHeader.header02 #gNavi li {
        margin-right: 0;
    }
    #gHeader.header02 #gNavi li:last-of-type {
        margin-right: 0;
    }
    #gHeader.header02 #gNavi li a {
        border-color: #eec694;
        background-image: url("../../img/common/icon07.png");
    }
}
@media all and (max-width: 750px) {
    #container {
        padding-top: 50px;
    }
    #gHeader {
        min-width: inherit;
    }
    #gHeader .rBox {
        width: 170px;
    }
    #gHeader .hBox {
        margin: 0 10px;
        width: auto;
    }
    #gNavi {
        display: none;
    }
    #gNavi.on {
        display: block;
    }
    #gNavi ul {
        display: block;
        width: auto;
    }
    #gNavi li {
        width: auto;
    }
	#gHeader.header03 .linkList {
		margin-left: 0;
	}
}
@media all and (max-width: 374px) {
    #gHeader .hBox {
        margin: 0 auto;
        padding: 0;
    }
    #gHeader h1 {
        margin-left: 5px;
    }
	#gHeader h1 img {
		height: 31px;
	}
	#gHeader.header02 h1 img {
		height: 28px;
	}
	#gHeader.header03 .hBox {
		margin: 0 3px;
	}
}
/*------------------------------------------------------------
	フッター
------------------------------------------------------------*/
#gFooter {
    padding-bottom: 4rem;
    text-align: center;
    background-color: #FFF;
}
#gFooter .fBox {
    margin-bottom: 3.5rem;
    padding: 3.3rem 0 6.1rem;
    text-align: left;
    background-color: #003398;
}

#gFooter.footer02 .fBox {
    background-color: #e69633;
}
#gFooter .fNavi {
    margin: 0 auto;
    width: 112rem;
    justify-content: center;
}
#gFooter.footer02 .fNavi {
	width: 120rem;
    justify-content: flex-start;
}
#gFooter .fNavi > li {
    margin-right: 5.2rem;
}
#gFooter.footer02 .fNavi > li {
    margin-right: 4rem;
}
#gFooter .fNavi > li:last-of-type {
    margin-right: 0;
}
#gFooter .fNavi a {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: bold;
}
#gFooter .fNavi li li ul {
    margin-top: 0.2rem;
}
#gFooter .fNavi .naviSub {
	margin-bottom: 2rem;
}
#gFooter .fNavi li li li {
    margin: 0 0 -0.1rem;
}
#gFooter .fNavi li li a {
    padding-left: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.1;
    position: relative;
}
#gFooter .fNavi li li a::before {
    width:0;
    height:0;
    position: absolute;
    left: 0;
    top: 0.8rem;
    border: 0.4rem solid transparent;
    border-left-color: #FFF;
    content: "";
}
#gFooter .fNavi li li {
    margin-right: 5rem;
}
#gFooter .fNavi li li:last-of-type {
    margin-right: 0;
}
#gFooter .fLogo {
    margin-bottom: 3rem;
}
#gFooter .fLogo a {
    display: block;
}
#gFooter .fLogo a:hover {
    opacity: 1;
}
#gFooter .copyright {
    margin-top: 5rem;
    text-align: center;
    padding: 0 1rem;
    color: #b8b8b8;
    font-size: 1.3rem;
}
#gFooter.footer02 .fNavi li li {
    margin-right: 0;
}
#gFooter.footer02 .fNavi li li ul {
    margin-top: 0;
}
#gFooter.footer02 .fNavi .liStyle01 li {
    margin-right: 3.0rem;
}
#gFooter.footer02 .fNavi .liStyle01 li li {
    margin-right: 0;
}
#gFooter.footer02 .fNavi li ul {
    margin-top: 0.3rem;
}
#gFooter.footer02 .fNavi li ul + a {
    margin-top: 1.2rem;
    display: inline-block;
}
#gFooter.footer03 .fBox {
	background-color: #84c600;
}
#gFooter nav {
  text-align: center;
  margin-top: 20px;
}
#gFooter nav a {
  font-size: 1.2rem;
  color: #b8b8b8;
  display: inline-block;
  padding: 0 10px;
  line-height: 1.1rem;
  border-right: 1px solid #b8b8b8;
}
#gFooter nav a:first-child {
  border-left: 1px solid #b8b8b8;
}
#gFooter.footer03 .fNavi {
    justify-content: center;
}
@media all and (max-width: 750px) {
    #gFooter {
        padding-bottom: 30px;
    }
    #gFooter .fBox {
        margin-bottom: 30px;
        padding: 38px 25px;
    }
    #gFooter .fNavi {
        width: auto;
        display: block;
    }
    #gFooter .fNavi > li {
        margin: 0 0 35px;
    }
    #gFooter .fNavi > li:last-of-type {
        margin: 0;
    }
    #gFooter .fNavi li li ul {
        overflow: hidden;
        zoom: 1;
    }
    #gFooter .fNavi li ul {
        margin-top: 10px;
    }
    #gFooter .fNavi li li ul {
        margin-top: 0;
    }
    #gFooter .fNavi li li li {
        margin: 0 15px -2px 0;
        float: left;
    }
    #gFooter .fNavi li li li:last-of-type {
        margin-right: 0;
    }
	#gFooter .fNavi .naviSub {
		margin-bottom: 35px;
	}
    #gFooter .fNavi li li a::before {
        top: 8px;
    }
    #gFooter .fNavi li li {
        margin-right: 0;
    }
    #gFooter .fLogo {
        margin-bottom: 10px;
    }
    #gFooter .copyright {
        letter-spacing: 0;
    }
    #gFooter.footer02 .fNavi {
        width: auto;
    }
    #gFooter.footer02 .fNavi li li {
        margin-right: 15px;
    }
    #gFooter.footer02 .fNavi .liStyle01 li li {
        margin-right: 15px;
    }
    #gFooter nav {
        line-height: 1.2;
    }
}